/* google font link */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-color{
    background: #FE8C45;

}
.text-c{
    color: #8A47F6;
    font-size: 74px;

}

.navbar-nav{
    gap: 20px;
}
li a:hover {
    background-color: #FE8C45;
   padding: 3px;
    border-radius: 8px;
    transition: 0.3s;

}
.btn-color:hover{
    color: #FE8C45;
    background-color: black;
}
