/* google font link */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

.btn-color {
  background: #fe8c45;
}
.span-color {
  color: #8a47f6;
}
.text-c {
  color: #8a47f6;
  font-size: 74px;
}
.text-size {
  font-size: 74px;
}

.navbar-nav {
  gap: 20px;
}
li a:hover {
  background-color: #fe8c45;
  padding: 3px;
  border-radius: 8px;
  transition: 0.3s;
}
.btn-color:hover {
  color: #fe8c45;
  background-color: black;
}

.for-link a {
  text-decoration: none;
  color: black;
}
.for-link{
    box-shadow: 10px 10px 5px #d1c3c3;
}
.portfolio-item {
  overflow: hidden;
  border-radius: 10px;
}
.portfolio-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

for-height{
  height: 75px;
}



.contact-form {
  width: 60%;
}
.contact-info{
  width: 35%;
  height: 400px;
  background-color: #f3e8ff;
  
}
.contact-info h5 {
  margin-bottom: 20px;
}
.contact-info p {
  margin-bottom: 10px;
}

